/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  display: flex;
}

.dashboard {
  flex-grow: 1;
  display: flex;
  gap: 16px;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title-card {
  width: 100%;
  background-color: #ffcc99; /* Naranjo más claro */
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.middle-cards {
  display: flex;
  gap: 16px;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 20px 0;
}

.middle-cards .card {
  flex: 1;
  background-color: #ffcc99; /* Naranjo más claro */
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.bottom-cards {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  margin-top: 40px;
}

.bottom-cards .card {
  flex: 1;
  background-color: #ffcc99; /* Naranjo más claro */
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h2 {
  margin-bottom: 8px;
  font-size: 1.5rem;
  color: black; /* Color negro */
  font-weight: bold; /* Negrita */
}

.card p {
  font-size: 1.2rem;
  color: black; /* Color negro */
}

.charts-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 20px 0;
}

.graph-container {
  max-width: 45%; /* Ajusta el ancho máximo del contenedor del gráfico */
  width: 100%;
  height: 400px; /* Ajusta la altura del contenedor del gráfico */
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 30px;
  display: flex; /* Ensure flexbox is applied */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
